<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unisalib" >

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnisaLIB" >
        <activity
            android:name="view.utenteview.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="view.utenteview.HomeUtenteUnisaActivity" />
        <activity android:name="view.utenteview.HomeAdminActivity"/>
        <activity android:name="view.libroview.RicercaActivity"/>
        <activity android:name="view.libroview.ElencoLibriActivity"/>
        <activity android:name="view.libroview.DettagliLibroUtenteUnisaActivity"/>
        <activity android:name="view.postazioneview.RicercaPostazioneUtenteActivity"/>
        <activity android:name="view.postazioneview.ElencoPostazioniUtenteActivity"/>
        <activity android:name="view.prestitoview.MieiPrestitiActivity"/>
        <activity android:name="view.libroview.DettagliLibroAdminActivity"/>
        <activity android:name="view.libroview.GestioneLibroAdminActivity"/>
        <activity android:name="view.libroview.AggiungiLibroActivity"/>
        <activity android:name="view.postazioneview.RicercaPostazioneAdminActivity"/>
        <activity android:name="view.postazioneview.ElencoPostazioniAdminActivity"/>
        <activity android:name="view.postazioneview.BloccoActivity"/>
        <activity android:name="view.postazioneview.SbloccoActivity"/>
        <activity android:name="view.prestitoview.PrestitiLibroActivity"/>
    </application>

</manifest>