<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unisalib" >

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnisaLIB" >
        <activity
            android:name="view.interfacciageneral.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="view.interfacciautenteunisa.HomeUtenteUnisaActivity" />
        <activity android:name="view.interfacciaadmin.HomeAdminActivity"/>
        <activity android:name="view.interfacciageneral.RicercaActivity"/>
        <activity android:name="view.interfacciageneral.ElencoLibriActivity"/>
        <activity android:name="view.interfacciautenteunisa.DettagliLibroUtenteUnisaActivity"/>
        <activity android:name="view.interfacciautenteunisa.RicercaPostazioneUtenteActivity"/>
        <activity android:name="view.interfacciautenteunisa.ElencoPostazioniUtenteActivity"/>
        <activity android:name="view.interfacciautenteunisa.MieiPrestitiActivity"/>
        <activity android:name="view.interfacciaadmin.DettagliLibroAdminActivity"/>
        <activity android:name="view.interfacciaadmin.GestioneLibroAdminActivity"/>
        <activity android:name="view.interfacciaadmin.AggiungiLibroActivity"/>
    </application>

</manifest>